/* IMPOSTAZIONI GENERALI */
body {
  height: 500px;
  width: 60%;
  margin: auto;
}

/* HEADER */
header {
  background-color: rgba(22, 148, 148, 0.621);
}
#logo {
  size: 150px;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
